<section class="block block--light block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Live Your Best Life</h1>
      <p class="hero__tagline">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis corrupti
        vero necessitatibus temporibus fuga optio possimus fugiat in? Repellat,
        rem!
      </p>
      <a href="#"
        ><button class="btn btn--accent btn--stretched">
          Get Started Now
        </button></a
      >
    </header>
    <img class="hero__image" src="/images/food.jpg" alt="" />
  </div>
</section>
